* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  height: 1700px;
  width: 100vw;
  background-color: var(--body-bg-color);
  display: flex;
  font-family: 'Merriweather Sans', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/* CONTAINER  */

header {
  flex-basis: 25%;
}

.container {
  width: 348px;
  max-height: 100%;
  background-color: var(--bg-cards);
  border-radius: 20px;
  margin: 40px 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* item-1 */

.item-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-1 img {
  margin: 32px 0 30px 0;
  border: 2px solid #00ff00;
  max-width: 100%;
  height: 128px;
  width: 128px;
  object-fit: cover;

  border-radius: 50%;
}

.item-1 h1 {
  color: var(--text-color);
  font-size: 23px;
  font-weight: 700;

  margin-bottom: 10px;
}

.item-1 p {
  color: var(--text-color);

  font-size: 13px;
  font-weight: 300;

  margin-bottom: 49px;
}

/* item-2 */

.item-2 {
  padding: 25px;
}

.item-3 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.item-3 p {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
}

/* item-4 */

.item-4 {
  padding: 25px;
}

.item-4 h2 {
  color: var(--text-color);

  font-size: 20px;
  font-weight: 700;

  margin-bottom: 10px;
}

.btn {
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--bg-techs);
  border: none;
  border-radius: 20px;
  margin: 10px;
  width: 86px;
  height: 24px;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Experiências e Educação */

.item-5 {
  padding: 25px;
}

.item-5 h2 {
  color: var(--text-color);

  font-size: 20px;
  font-weight: 700;

  margin-bottom: 20px;
}

.lista {
  margin-left: 45px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.lista li {
  font-size: 18px;
}

.lista p {
  font-weight: 300;
  font-size: 12px;
}

main {
  flex: 1;
}

/* MAIN */

.container-main {
  display: flex;
  gap: 30px;
}

.container-2 {
  width: 952px;
  max-height: 100vh;
  background-color: var(--bg-cards);

  margin: 40px 0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.item-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-6 h2 {
  color: var(--text-color);

  font-size: 20px;
  font-weight: 700;
}

.item-6 a {
  color: var(--text-color);

  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.container-3 {
  width: 461px;
  max-height: 100vh;
  background-color: var(--bg-cards);
  margin: 10px 0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.item-7 h3 {
  color: var(--text-color);
  font-size: 700;
  font-size: 16px;
}

.item-7 span {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.item-7 p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
}

.item-8 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.item-8 p {
  font-weight: 300;
  font-size: 14px;
}

.js {
  display: flex;
}

.js::before {
  content: '';
  display: block;
  background-color: #e7de79;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #837e9f;
}

.item-9 img {
  margin: 10px 0 0 20px;
  max-width: 100%;
  height: 128px;
  width: 128px;
  object-fit: cover;

  border-radius: 50%;
}

.container-4 {
  width: 952px;
  max-height: 100vh;
  background-color: var(--bg-cards);
  margin: 31px 0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.item-9 {
  display: flex;
  line-height: 23px;
}

.item-10 h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 15px;
}

.item-10 p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: Regular;
  margin-left: 15px;
  margin-top: 11px;
}

.item-9 h3 {
  color: var(--text-color);
  font-size: 16px;
  font-weight: regular;

  margin-top: 28px;
  margin-left: 15px;
}

.item-11 {
  display: flex;
  gap: 15px;
  margin-left: 15px;
  margin-top: 11px;
}

.item-11 p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: Regular;
}
